@page "/kalkulator"
<h3>Kalkulator</h3>
<input type="text" @bind="a" />
<input type="text" @bind="b" />
<button class="btn btn-primary" @onclick="Sum">Click me</button>
<p>Wynik: </p>@result
@code {
    private int result = 0;
    private string a = "";
    private string b = "";
    private void Sum()
    {
        result = int.Parse(a) + int.Parse(b);
    }

}
